<section class="todolist">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col col-md-6"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-3 offset-md-3">
                <tdf-button
                    [class]="'btn btn-primary'"
                    [isDisabled]="false"
                    [icon]="faAddIcon"
                    (clickHandle)="handleAddRoute()"
                    >Toevoegen</tdf-button
                >
            </div>
            <div
                class="col col-md-3 d-flex justify-content-end align-items-center gap-3"
            >
                <strong>Toon aantal</strong>
                <div>
                    <select
                        class="form-select d-inline-block"
                        aria-label="Toon aantal resultaten"
                        (change)="limitChange($event)"
                    >
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-3">
                <div class="filters p-3 rounded shadow-sm">
                    <h4 class="fw-normal">Filters</h4>
                    <div class="search">
                        <tdf-search
                            (searchValue)="todosBySearchValue($event)"
                            [minLength]="4"
                        ></tdf-search>
                    </div>
                    <div class="todo-state mt-3">
                        <tdf-select
                            (selectedValue)="todosByStateValue($event)"
                            [label]="'Weergave'"
                            [options]="filterOptions"
                        ></tdf-select>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <section>
                    @for (item of list(); track $index) {
                        <tdf-todo-item
                            [item]="item"
                            (removeTodo)="deleteTodo(item)"
                            (completeTodo)="updateTodo(item)"
                        ></tdf-todo-item>
                    }
                </section>
            </div>
        </div>
    </div>
</section>
