<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <tdf-navigation></tdf-navigation>
        </nav>
    </div>
</nav>

<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col col-lg-6 text-center p-4">
            <h1>Todo items ({{ count() }})</h1>
        </div>
    </div>
    <div class="row">
        <router-outlet />
    </div>
</div>
