<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a
            class="nav-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            routerLink="/"
            routerLinkActive="active"
            >Home</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            href="#"
            tabindex="-2"
            aria-disabled="true"
            routerLink="/prioriteit/hoog"
            routerLinkActive="active"
            >Hoge prio</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            href="#"
            tabindex="-3"
            aria-disabled="true"
            routerLink="/prioriteit/laag"
            routerLinkActive="active"
            >Lage prio</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            href="#"
            tabindex="-4"
            aria-disabled="true"
            routerLink="/add-item"
            routerLinkActive="active"
            >Toevoegen</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            href="#"
            tabindex="-5"
            aria-disabled="true"
            routerLink="/deelnemers"
            routerLinkActive="active"
            >Deelnemers</a
        >
    </li>
</ul>
